body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: roboto-regular, sans-serif;
}

.wrapper {
    width: 100%;
    height: auto;
}

.top-bar {
    background-color: #31415a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 24px;
}

.nav-fixed {
    position: fixed;
    top: 0px;
    background-color: #31415a;
    z-index: 999;
}

.nav {
    width: 100%;
    padding: 16px 0;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-list-item {
    display: flex;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 0px 8px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.1s;
}

.nav-link i {
    font-size: 1.2rem;
    padding-right: 4px;
}

.nav-link:hover {
    color: #cecece;
}

.sections {
    font-family: roboto-light, sans-serif;
    max-width: 800px;
    margin: 24px auto;
    padding: 0px 12px;
    box-sizing: border-box;
}

.section-title {
    font-size: 2.4rem;
    padding: 12px 0px;
}

.section-title-h1 {
    position: relative;
    display: inline;
}

.section-title i {
    color: #cecece;
    transition: color 0.2s;
}

.section-title span {
    position: absolute;
    padding-left: 32px;
    left: 0px;
}

.section-title h1:hover {
    cursor: pointer;
}

.section-title h1:hover i {
    color: #000;
}

.section-article {
    margin-left: 32px;
}

.section-article h2 {
    font-size: 1.8rem;
    color: #464646;
    padding: 12px 0;
}

.section-article p {
    font-size: 1.2rem;
    line-height: 175%;
    margin-bottom: 12px;
}

.section-article p b {
    font-family: roboto-regular, sans-serif;
    color: #31415a;
}

.section-article a {
    color: #31415a;
    text-decoration: underline;
}

.section-article img {
    max-width: 100%;
    margin-bottom: 12px;
    padding: 24px 0;
}

.shell-command {
    font-family: monospace;
    letter-spacing: 1px;
    background-color: #31415a;
    color: #fff;
    padding: 16px 12px;
    line-height: 100%!important;
}

.sprint-pair {
    display: flex;
    flex-direction: column;
}

.sprint-key {
    display: flex;
    align-items: center;
    font-family: roboto-bold, sans-serif;
    font-size: 0.9rem!important;
    margin: 0px!important;
}

.sprint-key i {
    position: relative;
    top: -1px;
    font-size: 1.3rem!important;
    margin-right: 4px;
}

.sprint-backlog {
    width: 100%;
    font-size: 0.95rem;
    text-align: left;
    margin-bottom: 12px;
}

.sprint-backlog th {
    font-family: roboto-bold, sans-serif;
}

.sprint-backlog th, .sprint-backlog td {
    padding: 16px;
    line-height: 150%;
}

.sprint-backlog .story-id {
    vertical-align: middle;
}

.sprint-backlog .story-id span {
    color: #fff;
    background-color: #31415a;
    padding: 2px 4px;
    border-radius: 3px;
}

.sprint-backlog .story-point {
    text-align: center;
    vertical-align: middle;
}

.sprint-backlog .story-point span {
    font-family: roboto-regular, sans-serif;
    color: #fff;
    background-color: #571071;
    padding: 4px 9px;
    border-radius: 20px;
}

.story-points-sum span {
    font-family: roboto-regular, sans-serif;
    color: #fff;
    background-color: #571071;
    padding: 4px 9px;
    border-radius: 20px;
}

.sprint-backlog tr th:nth-child(1), .sprint-backlog tr td:nth-child(1) {
    min-width: 90px;
    box-sizing: border-box;
}

.sprint-backlog tr th:nth-child(3), .sprint-backlog tr td:nth-child(3) {
    min-width: 120px;
    box-sizing: border-box;
}

.sprint-backlog th, .sprint-backlog td {
    border: 1px solid #cecece;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.profile-picture img {
    border-radius: 50%;
    margin: 0px 24px 0px 0px;
    padding: 0px;
}

.profile-info .name {
    font-family: roboto-bold, sans-serif;
    color: #31415a;
}

.profile-info p {
    display: flex;
    align-items: center;
    font-family: roboto-regular, sans-serif;
    font-size: 1.4rem;
    line-height: 100%!important;
    margin-bottom: 12px;
}

.profile-info i {
    font-size: 1.6rem;
    margin-right: 16px;
    color: #464646;
}

.profile-social {
    display: flex;
}

.profile-social img {
    margin: 0px 8px 0px 0px;
    padding: 0px;
}

.footer {
    font-family: roboto-light-italic, sans-serif;
    margin: auto;
    padding: 32px 0px;
    text-align: center;
    font-size: 1.1rem;
    color: #fff;
    background-color: #31415a;
    line-height: 200%;
}

@media only screen and (max-width: 800px) {
    .sections {
        padding: 0px 8px;
    }
    .profile-picture img {
        margin: 0px 12px 0px 0px;
    }
    .profile-info p {
        font-size: 1.2rem;
    }
    .profile-info i {
        font-size: 1.4rem;
        margin-right: 12px;
    }
    .section-article {
        margin: 0;
    }
}